<h1>商品一覧</h1>
<%= link_to "＋", new_admin_item_path %>

<table>
  <thead>
    <tr>
      <th>商品ID</th>
      <th>商品名</th>
      <th>税抜価格</th>
      <th>ジャンル</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.id %></td>
        <td><%= link_to item.name, admin_item_path(item.id) %></td>
        <td><%= item.price %></td>
        <td><%= item.genre_id %></td>
        <td>
          <% if item.is_active == true %>
            <div>販売中</div>
          <% elsif item.is_active == false %>
            <div>販売停止中</div>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
