<h1>注文履歴詳細</h1>
<br>
<table>
  <tr>
    <th>購入者</th>
    <td><%= @order.customer.last_name + @order.customer.first_name %></td>
  </tr>
  <tr>
    <th>注文日</th>
    <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
  </tr>
  <tr>
    <th>配送先</th>
    <td>
      〒<%= @order.postal_code %><br>
      <%= @order.address %><br>
      <%= @order.name %>
    </td>
  </tr>
  <tr>
    <th>支払方法</th>
    <td><%= @order.payment_method_i18n %></td>
  </tr>
  <tr>
    <th>注文ステータス</th>
    <td>
      <%= form_with model:@order, url:admin_order_path, method: :PATCH, local: true do |f| %>
        <%= f.select :status, Order.statuses_i18n.keys.map{|k| [I18n.t("enums.order.status.#{k}"), k]} %>
        <%= f.submit "更新" %>
      <% end %>
    </td>
  </tr>
</table>
