<h1>配送先登録/一覧</h1>
<br>
<%= form_with model: @address, url: addresses_path, method: :POST, local:true do |f| %>
  <div class="field">
    <%= f.label :postal_code, '郵便番号(ハイフンなし)', class:"col-sm-2" %>
    <%= f.text_field :postal_code, class:"col-sm-2" %>
  </div>

  <div class="field">
    <%= f.label :address, '住所', class:"col-sm-2" %>
    <%= f.text_field :address, class:"col-sm-4" %>
  </div>

  <div class="field">
    <%= f.label :name, '宛名', class:"col-sm-2" %>
    <%= f.text_field :name, class:"col-sm-2" %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "新規登録" %>
  </div>
<% end %>

<table>
  <thead>
    <tr>
      <th>郵便番号</th>
      <th>住所</th>
      <th>宛名</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @addresses.each do |address| %>
      <tr>
      <td><%= address.postal_code %></td>
      <td><%= address.address %></td>
      <td><%= address.name %></td>
      <td>
        <%= link_to "編集する", edit_address_path(address.id) %>
        <%= link_to "削除する", address_path(address.id), method: :DELETE %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
