<div class="container">
  <div class="text-center">
    <h2>ログイン</h2>
    <br>
    <%= form_with model: @pablic, url: customer_session_path, local:true do |f| %>
      <div class="field">
        <%= f.label :email, 'メールアドレス', class:"col-sm-3" %>
        <%= f.email_field :email, class:"col-sm-4" %>
      </div>

      <div class="field">
        <%= f.label :password, 'パスワード', class:"col-sm-3" %>
        <%= f.password_field :password, class:"col-sm-4" %>
      </div>
      <br>
      <div class="actions">
        <%= f.submit "ログイン" %>
      </div>
    <% end %>
    <br>
    <br>
    <h2>すでに登録済の方</h2>
    <br>
    <div>
    <%= render "public/shared/links" %>からログインしてください
    </div>

  </div>
</div>
