<div class="container">
  <div class="row">
    <div class="col-2">
      <%= render 'layouts/search' %>
    </div>
    <div class="col-10">
      <div class="row">
        <div class="col-4">
          <%= attachment_image_tag @item, :image, format: 'jpg', size: "200x200" %>
        </div>
        <div class="col-5">
          <h3><%= @item.name %></h3><br>
          <div><%= @item.introduction %></div><br><br>
          <h5><%= (@item.with_tax_price).to_s(:delimited) %>円(税込)</h5><br>

          <% if customer_signed_in? %>
            <%= form_with model:@cart_item, url:cart_items_path, method: :POST, local: true do |f| %>
              <%= f.hidden_field :item_id, :value => @item.id %>
              <%= f.select :amount, *[1..5], include_blank: "個数選択" %>
              <%= f.submit "カートに入れる" %>
            <% end %>
          <% else %>
            <p>購入にはログインが必要です。</p>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>
